#header{
 height: 20%    ;
    background-color: #BF101C;
    margin: auto;
}
#logo{
    float: left;
    margin: auto;
}
#titre{
    float :left;
    margin:auto;
    
}

#header img{
    height: 150px;
    float= left;
    padding-right: 50px;
}

#header h1{
     margin: auto;
    float: left;
    float= left;
    font-size: 500%;
    margin-left: 200px;
    color: #EECD68;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}



#jeu {
    background-color: #EECD69;
    height: 80%;
    margin: auto;
}

#plateauJeu{

margin-left: auto;
margin-right: auto;
}
#plateau{
    padding-top: 10px;
}
table{
    border-collapse: collapse;
}
td{
    width: 75px;
    height: 50px;
    border: 1px solid black;
}

#plateauJeu{
     border: 1px solid black;
}

#bleu{
    background-color: #7EC0EE;
}
#blanc{
    background-color: white;
}
#gris{
    background-color: #C4C4C4;
}

#grisf{
    background-color: #919191;
}
#vert{
    background-color: #249124;
}
#vertf{
    background-color: #146627;
}


#btn{
    background-color: black;
    border-radius: 50px;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 20px;
    cursor: pointer;
    margin-left: 100px;
    display: inline-block;
}


#piecepile{
    width: 50%;
}

#pieceF, #pieceP, #btn, #croix, #texte{ float: left;}

#jeu p{
    font-size: 24;
}

#pieceface{
width: 45%;
}
#croix1,#croix2,#croix3{
    clear: both;
    display: inline-block;
    width: 5%; 
    float: left;
}